.orders-head {
  width: 100%;
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 5px;
  }

  .nut-searchbar {
    margin: 0 auto;
    max-width: 600px;
    cursor: pointer;

    .search-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .orders-img {
    margin: 15px auto;
    max-width: 800px;

    img {
      max-width: 800px;
      width: 100%;
    }

    .text {
      width: 100%;
      background-color: #c4744b;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid black;

      .search-icon {
        margin-left: 5px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }


}

.new-order-container {
  margin: 0 auto;
  max-width: 800px;

  .new-order-head {
    width: 95%;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


  .new-order-from {
    background-color: white;
    margin-right: 2%;
    border-radius: 0 0 20px 20px;

    .step-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .order-success {
      h2 {
        color: #7a7374;
        text-align: center;
        margin: 0;
      }

      p {
        font-size: 18px;
        padding: 0 8px 25px;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }

    .tool {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 15px;
      font-size: 15px;
      cursor: pointer;
        .icon-center {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

        span {
          margin-left: 5px;
        }


    }


  }

}

