.orders-head {
  width: 100%;
  text-align: center;

  h1 {
    margin: 15px auto 5px;
  }

  h3 {
    margin: 0;
  }

  .orders-img {
    margin: 8px auto 12px;
    max-width: 800px;
    width: 95%;

    img {
      max-width: 800px;
      border-radius: 0 0 15px 15px;
      width: 100%;
    }

    .text {
      width: 100%;
      background-color: #c4744b;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid #495c69;

      .search-icon {
        margin-left: 5px;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    .first-text {
      border-radius: 15px 0 0 0; /* 设置第一个 text 元素的样式 */
    }

    .last-text {
      border-radius: 0 15px 0 0; /* 设置最后一个 text 元素的样式 */
    }
  }


}

.new-order-container {
  margin: 0 auto;
  max-width: 800px;

  .new-order-head {
    width: 95%;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


  .new-order-from {
    background-color: white;
    margin-right: 2%;
    border-radius: 0 0 20px 20px;

    .step-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .order-success {
      h2 {
        color: #7a7374;
        text-align: center;
        margin: 0;
      }

      p {
        font-size: 18px;
        padding: 0 15px;
        margin: 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }

    .tool {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 15px;
      font-size: 15px;
      cursor: pointer;

      .icon-center {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      span {
        margin-left: 5px;
      }


    }


  }

}

